In [ ]:
import pandas as pd
df = pd.read_excel('car_preference.xlsx')
df

  Engine cc  No of seats Ground clearance Preferred –Yes/No
0      High            7             High                 Y
1    Medium            5           Medium                 N
2    Medium            4           Medium                 Y
3       Low            4              Low                 N
4       Low            5              Low                 N
5    Medium            5             High                 N
6    Medium            7             High                 Y
7       Low            5           Medium                 N
8    Medium            7             High                 Y

encoding all the categorical variables

In [ ]:
df['Engine cc'] = df['Engine cc'].replace({'Low':1, 'Medium':2, 'High':3})
df['Ground clearance'] = df['Ground clearance'].replace({'Low':1, 'Medium':2, 'High':3})

df['Preferred –Yes/No'] = df['Preferred –Yes/No'].replace({'Y':1, 'N':0})

df

   Engine cc  No of seats  Ground clearance  Preferred –Yes/No
0          3            7                 3                  1
1          2            5                 2                  0
2          2            4                 2                  1
3          1            4                 1                  0
4          1            5                 1                  0
5          2            5                 3                  0
6          2            7                 3                  1
7          1            5                 2                  0
8          2            7                 3                  1

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(x, y)

GaussianNB()

Predicting for : High engine cc, low clearance, 4 seater

In [ ]:
print(classifier_nb.predict([[3,4,1]]))

[0]

In [ ]:
y_pred = classifier_nb.predict(x)

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y, y_pred)
cm

accuracy_score(y, y_pred)

0.7777777777777778