In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_excel('laidoff.xlsx')
df

   Age  Salary  in Thousands Laid off ?
0   24                    42          N
1   36                    59          N
2   46                    81          N
3   20                    20          N
4   41                   122          N
5   53                    20          N
6   22                    98          Y
7   39                    65          Y
8   60                   101          Y
9   49                   230          Y

In [32]:
df['Laid off ?'] = df['Laid off ?'].replace({'N':0, 'Y':1})

In [33]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [37]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
knn_classifier.fit(x,y)

KNeighborsClassifier(metric='euclidean')

Predicting for age=48 and salary=142,000

In [38]:
knn_classifier.predict([[48, 142]])

array([1])

In [39]:
y_pred = knn_classifier.predict(x)

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y, y_pred)
print(cm)

[[6 0]
 [3 1]]

In [40]:
accuracy_score(y, y_pred)

0.7