In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('salaries_scores.csv')
df

   Score  Age  Salary
0    7.5   45      78
1    7.6   26      46
2    8.4   31      56
3    8.9   34      59
4    7.2   40      74
5    8.7   36      60
6    7.9   24      40
7    8.7   28      62
8    8.3   23      45
9    8.4   32      59

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

Training the K-NN model on the Training set

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
regressor_knn = KNeighborsRegressor(n_neighbors=5, metric='euclidean')
regressor_knn.fit(x,y)

KNeighborsRegressor(metric='euclidean')

Predicting the salary that should be fixed for a person with age 38 and score=8.2. Use K-NN with K=3

In [ ]:
regressor_knn.predict([[8.2, 38]])

array([61.6])