In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('sales_data_puppies.csv')
df

    color    ear flap    fur adopted
0   Brown      Folded  Curly       Y
1   White    Straight  Thick       Y
2   White      Folded  Thick       Y
3   Cream      Folded  Curly       Y
4   Cream  Extra Long  Curly       N
5   Brown      Folded  Thick       N
6   Brown    Straight  Thick       Y
7   Cream    Straight  Curly       N
8   Brown  Extra Long  Thick       Y
9   White  Extra Long  Curly       N
10  White  Extra Long  Thick       Y
11  Cream      Folded  Thick       N
12  White      Folded  Curly       Y
13  Brown    Straight  Curly       N
14  White    Straight  Curly       Y

encoding all the categorical variables

In [ ]:
df['color'] = df['color'].replace({'Brown':1, 'White':2, 'Cream':3})
df['ear flap'] = df['ear flap'].replace({'Folded':1, 'Straight':2, 'Extra Long':3})
df['fur'] = df['fur'].replace({'Thick':0, 'Curly':1})

df['adopted'] = df['adopted'].replace({'Y':1, 'N':0})

df

    color  ear flap  fur  adopted
0       1         1    1        1
1       2         2    0        1
2       2         1    0        1
3       3         1    1        1
4       3         3    1        0
5       1         1    0        0
6       1         2    0        1
7       3         2    1        0
8       1         3    0        1
9       2         3    1        0
10      2         3    0        1
11      3         1    0        0
12      2         1    1        1
13      1         2    1        0
14      2         2    1        1

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(x, y)

GaussianNB()

Predicting for (i) Brown colour, Extra Long Ear Flaps, Curly fur

In [ ]:
print(classifier_nb.predict([[1,3,1]]))

[0]

Predicting for (ii) Cream colour, Straight ear flaps, Thick fur

In [ ]:
print(classifier_nb.predict([[3,2,0]]))

[0]

In [ ]:
y_pred = classifier_nb.predict(x)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y, y_pred)
cm

array([[3, 3],
       [1, 8]])

In [ ]:
accuracy_score(y, y_pred)

0.7333333333333333